.formgroup {
  display: flex;
  justify-content: center;
}
.confetti {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  top: -7%;
  z-index: -2;
}
.lottiecontainer {
  background-color: rgba(255, 255, 255, 0);
}
.title {
  display: inline-block;
  justify-content: center;
}
.inputwrapper {
  display: inline-block;
  width: 100%;
}

#pswError {
  position: absolute;
  margin-top: -43px;
  height: 10px;
  background-color: rgba(204, 204, 204, 0)
}
#emailError {
  position: absolute;
  margin-top: -43px;
  height: 10px;
  background-color: rgba(204, 204, 204, 0)
}
.buttonpad {
  justify-content: center;
  display: flex;
  align-items: center;
}
.submitbutton {
  background-color: #c70000;
  color: #fff;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



.submitbutton:hover {
  background-color: #00a128;
}

div {
  border-radius: 5px;
  background-color: none;
  padding: 20px;
  display: flex;
  justify-content: center;
 
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
